
    <body>
        <div class="main-block">
    
    
    
    
        <form action="{% url 'payment_status' %}" method="POST">
            {% csrf_token %}
    
    
    <!-- RAZORPAY INTEGRATION HERE -->
    
    <script    src="https://checkout.razorpay.com/v1/checkout.js"
                   data-key="rzp_test_1vDelUfydoNmf0"
                   data-amount="{{ total }}"
                   data-currency="INR"
                   data-order_id="{{ order_id }}"
                   data-buttontext="Pay with Razorpay"
                   data-name="Acme Corp"
                   data-description="Test transaction"
                   data-image="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRpWzPOB8s9WRX7JXZ96x1oPESu-eoN5YUFfDKcebTKFn7piPBS&usqp=CAU"
                   data-prefill.name="{{ name }}"
                   data-prefill.email="{{ email }}"
                   data-prefill.contact="{{ phone }}"
                   data-theme.color="#F37254"></script>
        <input type="hidden" custom="Hidden Element" name="hidden">




      </form>
    </div>
    </div> 
   