
  
  <!--Password Reset Confirm-->
    <!-- <div class="container p-5">
	    <h2 class="font-weight-bold mt-3">Password Reset Confirm</h2>
		<hr>
        <div class="card-body">
            <form method="POST" method="{% url 'reset-complete' %}">
                {% csrf_token %}
                <div class="form-row">
                    <div class="col-md-10 offset-md-1">
                        <div class="form-group">
                            <label class="small mb-1" for="id_new_password1">New Password</label>
                            <input type="password" name="new_password1" autocomplete="new-password"
                                   class="form-control" required id="id_new_password1"
                                   placeholder="Enter password"/>
                            <span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-10 offset-md-1">
                        <div class="form-group">
                            <label class="small mb-1" for="id_new_password2">New Password Confirmation</label>
                            <input type="password" name="new_password2" autocomplete="new-password"
                                   required id="id_new_password2" class="form-control"
                                   placeholder="Confirm password"/>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-10 offset-md-1">
                        <div class="form-group mt-0 mb-1">
                            <button type="submit" class="col-md-12 btn btn-dark" id="reset">Reset Password</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div> -->
         <p>Please enter your new password.</p>
         <form method="POST">
            {% csrf_token %}
            {{ form}}                    
            <button class="btn btn-primary" type="submit">Reset password</button>
        </form> 
    <!-- </div> -->

